.product-header {
  h1 {
    font-size: 20px;
    margin-bottom: 1px;
    margin-top: 0;
    font-weight: 500;
  }
}
.product-header-footer {
  display: flex;
  align-items: center;
  color: #307feb;
}
.product-header-details {
  display: flex;
  > div {
    padding: 0 7px;
    border-right: 1px solid #d1dae9;
    line-height: 1.2;
    &:last-child {
      border-right: none;
    }
  }
}
