.product-tabs {
  .active {
    font-weight: 700;
    border-bottom: 2px solid #307feb;
    position: relative;
    top: 1px;
    padding-bottom: 7px;
    span {
      position: relative;
      top: -1px;
    }
  }
}
.tab-titles {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #f0f1f5;
  font-size: 14px;
  li {
    list-style: none;
    padding: 6px 10px;
    cursor: pointer;
  }
}
.tab-content {
  padding-top: 8px;
}
