.main-header {
  background: #005890;
  color: #fff;
  padding-bottom: 10px;
  .container {
    display: flex;
    justify-content: space-between;
  }
  ul {
    padding: 3px 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
.logo {
  height: 20px;
  max-width: 100%;
  margin-top: 13px;
  margin-bottom: 4px;
}
.top-menus {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  margin-bottom: 8px;
}
.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
