* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  color: #26344c;
}
.content-wrapper {
  .container {
    display: flex;
  }
}
.container {
  max-width: 940px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
input {
  outline: none;
}
input::-webkit-input-placeholder {
  color: #a5b5cc;
}
input::-moz-placeholder {
  color: #a5b5cc;
}
input:-ms-input-placeholder {
  color: #a5b5cc;
}
input:-moz-placeholder {
  color: #a5b5cc;
}
